.cell-live {
  background: white;
}
.cell-dead {
  background: black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
  width: 1em;
  height: 1em;
}

.actionPanel {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
